# 
# hamon server systemd service configuration file
# install to /usr/lib/systemd/system/ha-mon.service
# then systemctl daemon-reload
# & then systemctl enable hamon.service
# & then systemctl start hamon.service

[Unit]
Description=HA KNX Monitoring Service
After=multi-user.target

[Service]
Environment=HOME=/home/greg
Type=idle

# working directory is /home/greg/hamon
ExecStart=/usr/bin/node /home/greg/hamon/ha-mon.js
StandardOutput=file:/home/greg/hamon/hamon.log
StandardError=file:/home/greg/hamon/hamon.err

[Install]
WantedBy=multi-user.target
